
.transparent {
  background: transparent;
  box-shadow: none;
  border: none;
}

.hide {
  opacity: 0 !important;
}

.clone .dimmer {
  opacity: 0 !important;
}

.show {
  opacity: 1;
}

.ui.modal {
  width: 100%;
  margin: 0;
}

.ui.modal>.content {
  width: 100%;
  background: transparent;
  padding: 0;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
