<div class="ui container">
  <div class="ui vertical stripe">
    <div class="p-b-10">
      <tag-input [(ngModel)]="tags"
                 [identifyBy]="'name'"
                 [displayBy]="'name'"
                 [placeholder]="'Enter tags...'"
                 (onAdd)="onAdd()"
                 (onRemove)="onRemove()">
        <tag-input-dropdown
          [identifyBy]="'name'"
          [displayBy]="'name'"
          [autocompleteObservable]="getAutocompleteTags">
        </tag-input-dropdown>
      </tag-input>
    </div>
    <div class="p-b-10">
      <a class="ui blue star rating label" *ngFor="let tag of popularItems | tags:tags"
         (click)="selectTag(tag.name)">
        {{tag.name}}
        <!--<span class="detail"><i class="icon active"></i>{{tag.popularity}}</span>-->
      </a>
    </div>
    <masonry class="ui three column grid" [useImagesLoaded]="true">
      <masonry-brick class="column" *ngFor="let media of mediaList">
        <div class="ui card">
          <div class="image" (click)="open()">
            <img [src]="backendUrl + '/api/v1/media/'+ media.mediaId + '?' + accessQueryParam">
          </div>
          <div class="content">
            {{media.displayName}}
            <div class="right floated" *ngIf="media.mediaId != editMediaId">
              <button class="circular mini ui yellow icon button" (click)="editMedia(media)">
                <i class="icon pencil"></i>
              </button>
            </div>
            <div class="right floated" *ngIf="media.mediaId == editMediaId">
              <button class="circular mini ui green icon button" (click)="saveMedia(media)">
                <i class="icon save"></i>
              </button>
              <button class="circular mini ui red icon button" (click)="cancelEditMedia(media)">
                <i class="icon cancel"></i>
              </button>
            </div>
          </div>
          <div class="extra content" *ngIf="media.mediaId != editMediaId">
            <a  class="ui tag label m-r-5 m-b-5" *ngFor="let tag of media.tags"
               [class.blue]="tags.indexOf(tag.name) > -1"
               (click)="selectTag(tag.name)">{{tag.name}}</a>
          </div>
          <div class="extra content" *ngIf="media.mediaId == editMediaId">
            <tag-input [(ngModel)]="media.tags"
                       [identifyBy]="'name'"
                       [displayBy]="'name'"
                       [placeholder]="'Enter tags...'">
              <tag-input-dropdown
                [identifyBy]="'name'"
                [displayBy]="'name'"
                [autocompleteObservable]="getAutocompleteTags">
              </tag-input-dropdown>
            </tag-input>
          </div>
        </div>
      </masonry-brick>
    </masonry>
  </div>
</div>
<div class="ui page dimmer">
  <div class="ui middle aligned stackable grid container">
    <div id="Glide" class="slider glide glide--slider glide--horizontal" *ngIf="activated"
         style="margin-top: 5%">
      <div class="slider__arrows glide__arrows">
        <button class="slider__arrow glide__arrow next" data-glide-dir=">">next</button>
        <button class="slider__arrow glide__arrow prev" data-glide-dir="<">prev</button>
      </div>
      <div class="slider__wrapper glide__wrapper is-hidden">
        <ul class="slider__track glide__track" style="overflow: initial">

          <li class="slider__slide glide__slide" *ngFor="let media of mediaList">
            <div class="ui transparent segment bg fill">
              <div class="ui active inverted dimmer" [ngClass]="{hide: media.show}">
                <div class="ui text loader"></div>
              </div>
              <img class="ui centered rounded image"
                   src="{{backendUrl + '/api/v1/media/'+ media.mediaId+ '?' + accessQueryParam}}"
                   alt="Home"
                   (load)="display(media)">
            </div>
          </li>
        </ul>
      </div>
      <div class="slider__bullets glide__bullets">
      </div>
    </div>
  </div>
</div>
