<div class="ui transparent segment bg fill">
  <div class="ui active inverted dimmer" [ngClass]="{hide: media.show}">
    <div class="ui text loader"></div>
  </div>
  <img class="ui centered rounded image"
       [src]="media.content" alt="Home">
</div>
