<div class="ui container">
  <div class="ui vertical stripe">
    <h3>Select files</h3>
    <div ng2FileDrop
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader">
      <div class="ui segment" style="text-align: center" [ngClass]="{'raised': hasBaseDropZoneOver}">
        Drag your files here
        <input id="file" type="file" ng2FileSelect [uploader]="uploader" multiple
               style="display: none"/>
      </div>
    </div>
    <table class="ui celled padded table">
      <thead>
      <tr>
        <th>Media</th>
        <th>Name</th>
        <th>Tags</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td style="max-width:100%;"><img class="ui medium rounded image" [src]="item.url"></td>
        <td class="single line">
          {{item?._file.name}}
        </td>
        <td>
          <tag-input [(ngModel)]="item.tags"
                     [identifyBy]="'name'"
                     [displayBy]="'name'"
                     [placeholder]="'Enter tags...'">
            <tag-input-dropdown
              [identifyBy]="'name'"
              [displayBy]="'name'"
              [autocompleteObservable]="getAutocompleteTags">
            </tag-input-dropdown>
          </tag-input>
          <!--<tag-input [(ngModel)]="item.tags" (onTextChange)="onTextChange($event, item)"-->
                     <!--[autocompleteItems]="autocompleteItems"-->
                     <!--[autocomplete]="true">-->
          <!--</tag-input>-->
        </td>
        <td>
          <div class="ui positive basic button" (click)="saveMedia(item)">
            <i class="save icon"></i> Save
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
