<div class="ui inverted vertical masthead center aligned segment has-bg">
  <div class="content-bg">
    <masonry class="ui eight column grid" [useImagesLoaded]="true">
      <masonry-brick class="column p-0" *ngFor="let media of mediaList">
        <div class="ui fluid image" (click)="open()">
          <img [src]="media.url">
        </div>
      </masonry-brick>
    </masonry>
  </div>
  <div class="ui text container home-content">
    <h1 class="ui inverted header">
      Album
    </h1>
    <h2>Your pictures, your people, your way.</h2>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">About me</h3>
        <p>Forward thinker and quick learner, with experience both in development and team leadership, I want to
          grow in the software industry by identifying new spaces where value can be created</p>
      </div>
      <div class="six wide right floated column">
        <img src="assets/img/david.jpg" class="ui large bordered rounded image">
      </div>
    </div>
  </div>
</div>
<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      <a target="_blank" href="https://twitter.com/dmendezg" class="ui circular twitter icon button">
        <i class="twitter icon"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/dmendezg/" class="ui circular linkedin icon button">
        <i class="linkedin icon"></i>
      </a>
      <a class="ui circular google plus icon button">
        <i class="google plus icon"></i>
      </a>
    </div>
  </div>
</div>
