<div class="ui floating dropdown">
  <div class="text">
    <img class="ui avatar image" [src]="user.getProfilePictureUrl()">
    {{user.name}}
  </div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" (click)="auth.logout()">
      <i class="power icon"></i>
      Logout
    </div>
  </div>
</div>
