<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="item" *ngFor="let link of links" [routerLinkActive]="['active']"
       [routerLink]="[link.name]" i18n>{{link.displayName}}</a>
    <div class="right menu">
      <!--<div class="item">-->
      <!--<a class="ui button">Log in</a>-->
      <!--</div>-->
      <!--<div class="item">-->
      <!--<a class="ui primary button">Sign Up</a>-->
      <!--</div>-->
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="item" *ngFor="let link of links" [routerLinkActive]="['active']"
     [routerLink]="[link.name]">{{link.displayName}}</a>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="item" *ngFor="let link of links" [routerLinkActive]="['active']"
           [routerLink]="[link.name]">{{link.displayName}}</a>
        <div class="right menu display" *ngIf="!user">
          <a class="item display" (click)="auth.loginFacebook()"><i class="facebook icon"></i> Login</a>
          <a class="item display" (click)="auth.loginWithTestUser()"><i class="user icon"></i> Test</a>
        </div>
        <div class="right item display user-profile" *ngIf="user">
          <user-dropdown (logout)="logout()"></user-dropdown>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<div class="ui basic tiny modal">
  <div class="content">
    <div class="column">
      <h2 class="ui inverted image header">
        <div class="content">
          Log-in to your account
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="two ui buttons">
            <button class="ui facebook button" (click)="auth.loginFacebook(); closeLogin()">
              <i class="facebook icon"></i>
              Facebook
            </button>
            <button class="ui google plus button">
              <i class="google plus icon"></i>
              Google Plus
            </button>
          </div>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>
</div>


<!--<sm-modal class="basic tiny" #loginModal>-->
<!--<modal-content class="ui middle aligned center aligned grid">-->
<!---->
<!--</modal-content>-->
<!--</sm-modal>-->
