/* You can add global styles to this file, and also import other style files */

.ui.vertical.stripe {
  padding: 4em 0em;
}

.ng2-tag {
  border-radius: 5px !important;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

.ui.card, .ui.cards > .card {
  width: 100% !important;
}

.m-r-5 {
  margin-right: 0.5em !important;
}

.m-b-5 {
  margin-bottom: 0.5em !important;
}

.m-b-10 {
  margin-bottom: 1.0em !important;
}

.p-0 {
  padding: 0 !important;
}

.p-b-10 {
  padding-bottom: 1.0em !important;
}

.glide {
  width: 100%
}

.glide__wrapper {
  overflow: hidden
}

.glide__track {
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
}

.glide__track.dragging {
  cursor: grabbing;
  user-select: none
}

.glide__slide {
  width: 100%;
  -webkit-tap-highlight-color: transparent
}

.glide__arrows {
  position: absolute
}

.glide__bullets {
  position: absolute;
  list-style: none
}

.glide--carousel .glide__slide, .glide--slider .glide__slide {
  float: left;
  clear: none
}

.glide--slideshow .glide__slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0)
}

.glide--slideshow .glide__slide.active {
  z-index: 1
}

.glide--horizontal .glide__arrows {
  top: 50%;
  width: 92%;
  margin-left: 4%
}

.glide--vertical .glide__arrows {
  left: 50%;
  height: 88%;
  margin-top: 6%
}

.glide__arrow {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font: 11px Arial, sans-serif;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 4px;
  transition: border .3s ease-in-out
}

.glide__arrow:hover {
  border-color: #fff
}

.glide--horizontal .glide__arrow {
  transform: translateY(-50%)
}

.glide--horizontal .glide__arrow.prev {
  left: 0
}

.glide--horizontal .glide__arrow.next {
  right: 0
}

.glide--vertical .glide__arrow {
  transform: translateX(-50%)
}

.glide--vertical .glide__arrow.prev {
  top: 0
}

.glide--vertical .glide__arrow.next {
  bottom: 0
}

.glide--horizontal .glide__bullets {
  bottom: 8%;
  left: 0;
  width: 100%;
  height: 12px;
  text-align: center
}

.glide--vertical .glide__bullets {
  top: 50%;
  right: 8%;
  width: 12px;
  height: auto;
  transform: translateY(-50%)
}

.glide__bullets > * {
  display: inline-block;
  background-color: rgba(255, 255, 255, .5);
  width: 12px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all .3s ease-in-out
}

.glide--horizontal .glide__bullets > * {
  margin: 0 5px
}

.glide__bullets > .active {
  background-color: #fff
}

.glide__bullets > :focus, .glide__bullets > :hover {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, .5)
}

.glide--slider .glide__arrow {
  opacity: 1;
  transition: opacity 150ms ease
}

.glide--slider .glide__arrow.disabled {
  opacity: .33
}

ol, ul {
  padding: 0
}

.slider {
  /*background: url(assets/images/body-bg.png) top left repeat-x;*/
  background-size: auto 100%;
  margin-bottom: 36px
}

.slider.is-loading:after {
  -moz-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  content: "\f1ce";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: inline-block;
  font: 2em FontAwesome;
  margin-left: -18px;
  margin-top: -18px
}

.slider__wrapper {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 3vw 0
}

.slider__wrapper.is-hidden {
  opacity: 0
}

.slider__wrapper.is-visible {
  opacity: 1
}

.slider__slide {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

.slider__slide.active {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02)
}

.slider__slide.pre {
  -webkit-transform: perspective(60em) rotateY(18deg);
  -moz-transform: perspective(60em) rotateY(18deg);
  -ms-transform: perspective(60em) rotateY(18deg);
  -o-transform: perspective(60em) rotateY(18deg);
  transform: perspective(60em) rotateY(18deg)
}

.slider__slide.following {
  -webkit-transform: perspective(60em) rotateY(-18deg);
  -moz-transform: perspective(60em) rotateY(-18deg);
  -ms-transform: perspective(60em) rotateY(-18deg);
  -o-transform: perspective(60em) rotateY(-18deg);
  transform: perspective(60em) rotateY(-18deg)
}

.slider__slide > .bg {
  width: 100%;
  height: 420px;
  height: 70vh;
  border-radius: 12px;
  outline: transparent solid 1px
}

.slider__slide > .bg.i-1 {
  background-color: #fdb353
}

.slider__slide > .bg.i-2 {
  background-color: #34b579
}

.slider__slide > .bg.i-3 {
  background-color: #95a5a6
}

.slider__slide > .bg.i-4 {
  background-color: #9a59b5
}

.slider__slide > .bg.i-5 {
  background-color: #fbcb43
}

.slider__bullets {
  z-index: 3
}

.glide--horizontal .slider__bullets {
  bottom: 16%
}

.slider__bullets > * {
  width: 16px;
  height: 16px;
  padding: 0
}

.slider__bullets > .active {
  background-color: #fff !important
}

.slider__bullets > :focus, .slider__bullets > :hover {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, .5)
}

.slider__arrow:focus, .slider__arrow:hover {
  background-color: transparent
}

.box {
  text-align: center;
  color: #fff;
  padding: 54px 18px;
  font-size: 2em;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 6px
}

@media only screen and (min-width: 768px) {
  .ui.tiny.modal {
    width: 70.4%;
  }
}
@media only screen and (min-width: 992px) {
  .ui.tiny.modal {
    width: 460px;
    margin: 0 0 0 -220px;
  }
}
@media only screen and (min-width: 1200px) {
  .ui.tiny.modal {
    width: 460px;
    margin: 0 0 0 -220px;
  }
}
@media only screen and (min-width: 1920px) {
  .ui.tiny.modal {
    width: 460px;
    margin: 0 0 0 -220px;
  }
}
